{% extends "layout.html" %}
{% block title %}Food to go{% endblock %}
{% block body %}
  <h1>Food to go</h1>
  <div class="row text-center">
  {% for item in this.children %}

    {% set image = item.attachments.images.first() %}

    <div class="col-xs-6 col-sm-4 col-md-3">
      <!-- <a href="{{ item|url }}" style="display:block;"> -->
        <div class="thumbnail">
          <img src="{{ item|url }}/label.jpg">
        </div>
      <!-- </a> -->
    </div>
  {% endfor %}
  </div>
{% endblock %}
